---
layout: default
title: Cedric Nugteren | Publications
current: 1
---

<h1>Publications in 2015</h1>

{% include publication.html name = "CLTune: A Generic Auto-Tuner for OpenCL Kernels" authors = "C. Nugteren, V. Codreanu" location = "MCSoC '15" pdf = "downloads/Nugteren2015a.pdf" doi = "http://dx.doi.org/10.1109/MCSoC.2015.10" publisher = "IEEE" extras = "" variable-param=page.variable %}
{% include publication.html name = "Configuring Thread Scheduling on a Multi-Threaded Data Processing Apparatus" authors = "C. Nugteren, A. Lokhmotov" location = "US Patent 20,150,160,970" pdf = "http://www.freepatentsonline.com/20150160970.pdf" doi = "" publisher = "" extras = "" variable-param=page.variable %}
{% include publication.html name = "Bones: An Automatic Skeleton-Based C-to-CUDA Compiler for GPUs" authors = "C. Nugteren, H. Corporaal" location = "ACM TACO 11, 4, Article 35" pdf = "http://dl.acm.org/authorize?N95885" doi = "http://dx.doi.org/10.1145/2665079" publisher = "ACM" extras = "" variable-param=page.variable %}

<h1>Publications in 2014</h1>

{% include publication.html name = "A Study of the Potential of Locality-Aware Thread Scheduling for GPUs" authors = "C. Nugteren, G.J. van den Braak, H. Corporaal" location = "MuCoCoS '14" pdf = "downloads/Nugteren2014c.pdf" doi = "http://dx.doi.org/10.1007/978-3-319-14313-2_13" publisher = "Springer" extras = "" variable-param=page.variable %}
<div id="list">
	<div id="list_header">
		<img id="image_right" src="images/logo_tue.png"></img>
		<span id="list_red">PhD thesis</span>
		<br/>
		Improving the Programmability of GPU Architectures
		<br/>
		<span id="list_second">C. Nugteren</span>
		<br/>
		
		<b>Thesis committee members:</b><br/>
		<span id='list_second'>H. Corporaal (Eindhoven University of Technology)</span><br/>
		<span id='list_second'>H.E. Bal (Vrije Universiteit Amsterdam)</span><br/>
		<span id='list_second'>P.H.J. Kelly (Imperial College London)</span><br/>
		<span id='list_second'>A. Cohen (Ecole Polytechnique)</span><br/>
		<span id='list_second'>A.L. Varbanescu (Universiteit van Amsterdam)</span><br/>
		<span id='list_second'>G. de Haan (Eindhoven University of Technology)</span><br/>
		<span id='list_second'>J.J. Lukkien (Eindhoven University of Technology)</span><br/>
	</div>
	<div id="list_box">
		<a href=downloads/thesis.pdf>PDF</a>
		&nbsp;and&nbsp;
		<a href=downloads/propositions.pdf>propositions</a>
	</div>
</div>
{% include publication.html name = "A Detailed GPU Cache Model Based on Reuse Distance Theory" authors = "C. Nugteren, G.J. van den Braak, H. Corporaal, H. Bal" location = "HPCA '14" pdf = "downloads/Nugteren2014b.pdf" doi = "http://dx.doi.org/10.1109/HPCA.2014.6835955" publisher = "IEEE" extras = "" variable-param=page.variable %}
{% include publication.html name = "Roofline-aware DVFS for GPUs" authors = "C. Nugteren, G.J. van den Braak, H. Corporaal" location = "ADAPT '14" pdf = "http://dl.acm.org/authorize?6971874" doi = "http://dx.doi.org/10.1145/2553062.2553067" publisher = "ACM" extras = "" variable-param=page.variable %}

<h1>Publications in 2013</h1>

{% include publication.html name = "Automatic Skeleton-Based Compilation through Integration with an Algorithm Classification" authors = "C. Nugteren, P. Custers, H. Corporaal" location = "APPT '13" pdf = "downloads/Nugteren2013d.pdf" doi = "http://dx.doi.org/10.1007/978-3-642-45293-2_14" publisher = "Springer" extras = "" variable-param=page.variable %}
{% include publication.html name = "Algorithmic Species Revisited: A Program Code Classification Based on Array References" authors = "C. Nugteren, R. Corvino, H. Corporaal" location = "MuCoCoS '13" pdf = "downloads/Nugteren2013c.pdf" doi = "http://dx.doi.org/10.1109/MuCoCoS.2013.6633604" publisher = "IEEE" extras = "" variable-param=page.variable %}
{% include publication.html name = "Future of GPGPU Micro-Architectural Parameters" authors = "C. Nugteren, G.J. van den Braak, H. Corporaal" location = "DATE '13" pdf = "downloads/Nugteren2013b.pdf" doi = "http://dx.doi.org/10.7873/DATE.2013.089" publisher = "IEEE" extras = "" variable-param=page.variable %}
{% include publication.html name = "Algorithmic Species: An Algorithm Classification of Affine Loop Nests for Parallel Programming" authors = "C. Nugteren, P. Custers, H. Corporaal" location = "ACM TACO 9, 4, Article 40" pdf = "http://dl.acm.org/authorize?6882940" doi = "http://dx.doi.org/10.1145/2400682.2400699" publisher = "ACM" extras = "" variable-param=page.variable %}

<h1>Publications in 2012</h1>

{% include publication.html name = "GPU-Vote: A Framework for Accelerating Voting Algorithms on GPU" authors = "G.J. van den Braak, C. Nugteren, B. Mesman, H. Corporaal" location = "Euro-Par '12" pdf = "downloads/Braak2012a.pdf" doi = "http://dx.doi.org/10.1007/978-3-642-32820-6_92" publisher = "Springer" extras = "" variable-param=page.variable %}
{% include publication.html name = "The Boat Hull Model: Enabling Performance Prediction for Parallel Computing Prior to Code Development" authors = "C. Nugteren, H. Corporaal" location = "CF '12" pdf = "downloads/Nugteren2012c.pdf" doi = "http://dx.doi.org/10.1145/2212908.2212937" publisher = "ACM" extras = "" variable-param=page.variable %}
{% include publication.html name = "Introducing 'Bones': A Parallelizing Source-to-Source Compiler Based on Algorithmic Skeletons" authors = "C. Nugteren, H. Corporaal" location = "GPGPU-5" pdf = "downloads/Nugteren2012b.pdf" doi = "http://dx.doi.org/10.1145/2159430.2159431" publisher = "ACM" extras = "" variable-param=page.variable %}
{% include publication.html name = "The Boat Hull Model: Adapting the Roofline Model to Enable Performance Prediction for Parallel Computing" authors = "C. Nugteren, H. Corporaal" location = "PPoPP '12" pdf = "downloads/Nugteren2012a.pdf" doi = "http://dx.doi.org/10.1145/2145816.2145859" publisher = "ACM" extras = "" variable-param=page.variable %}

<h1>Publications in 2011</h1>

{% include publication.html name = "A Modular and Parameterisable Classification of Algorithms" authors = "C. Nugteren, H. Corporaal" location = "Technical Report ESR-2011-02" pdf = "downloads/Nugteren2011c.pdf" doi = "" publisher = "tue" extras = "" variable-param=page.variable %}
{% include publication.html name = "Fast Hough Transform on GPUs: Exploration of Algorithm Trade-Offs" authors = "G.J. van den Braak, C. Nugteren, B. Mesman, H. Corporaal" location = "ACIVS '11" pdf = "downloads/Braak2011a.pdf" doi = "http://dx.doi.org/10.1007/978-3-642-23687-7_55" publisher = "Springer" extras = "" variable-param=page.variable %}
{% include publication.html name = "Skeleton-based Automatic Parallelization of Image Processing Algorithms for GPUs" authors = "C. Nugteren, H. Corporaal, B. Mesman" location = "SAMOS XI" pdf = "downloads/Nugteren2011b.pdf" doi = "http://dx.doi.org/10.1109/SAMOS.2011.6045441" publisher = "IEEE" extras = "" variable-param=page.variable %}
{% include publication.html name = "High Performance Predictable Histogramming on GPUs: Exploring and Evaluating Algorithm Trade-offs" authors = "C. Nugteren, G.J. van den Braak, H. Corporaal, B. Mesman" location = "GPGPU-4" pdf = "http://dl.acm.org/authorize?474053" doi = "http://dx.doi.org/10.1145/1964179.1964181" publisher = "ACM" extras = "" variable-param=page.variable %}

<h1>Publications in 2010</h1>

{% include publication.html name = "Analyzing CUDA's Compiler through the Visualization of Decoded GPU Binaries" authors = "C. Nugteren, B. Mesman, H. Corporaal" location = "ODES-8" pdf = "downloads/Nugteren2010a.pdf" publisher = "" doi = "" extras = "" variable-param=page.variable %}
