---
layout: default
title: Cedric Nugteren | Talks
current: 2
---
<h1>Handouts of recent talks</h1>

{% include talk.html name = "CLBlast: A Tuned BLAS Library for Faster Deep Learning" location = "GTC '17, San Jose, CA" date = "May 11, 2017" pdf = "downloads/CLBlast_GTC.pdf" link = "https://gputechconf2017.smarteventscloud.com/connect/sessionDetail.ww?SESSION_ID=109972&tclass=popup" poster = "no" variable-param=page.variable %}
{% include talk.html name = "GPU Programming 101" location = "C++ Meetup, Amsterdam, NL" date = "August 25, 2016" pdf = "downloads/GPU101_handouts.pdf" link = "https://www.meetup.com/The-Dutch-Cpp-Group/events/232967866/" poster = "no" variable-param=page.variable %}
{% include talk.html name = "Better Than All the Rest: Finding Max-Performance GPU Kernels Using Auto-Tuning" location = "GTC '16, San Jose, CA" date = "April 7, 2016" pdf = "downloads/handouts2016a.pdf" link = "http://registration.gputechconf.com/quicklink/hrqlJke" poster = "no" variable-param=page.variable %}
{% include talk.html name = "CLTune: A Generic Auto-Tuner for OpenCL Kernels" location = "MCSoC '15, Torino, Italy" date = "September 24, 2015" pdf = "downloads/handouts2015a.pdf" link = "http://mcsoc-forum.org/2015/?page_id=22" poster = "no" variable-param=page.variable %}
{% include talk.html name = "A Study of the Potential of Locality-Aware Thread Scheduling for GPUs" location = "MuCoCoS '14, Porto, Portugal" date = "August 26, 2014" pdf = "downloads/handouts2014b.pdf" link = "http://www.univie.ac.at/mucocos2014/program" poster = "no" variable-param=page.variable %}
{% include talk.html name = "A Detailed GPU Cache Model Based on Reuse Distance Theory" location = "HPCA '14, Orlando, US" date = "February, 2014" pdf = "downloads/handouts2014a.pdf" link = "http://hpca20.ece.ufl.edu/program.html" poster = "no" variable-param=page.variable %}
{% include talk.html name = "Algorithmic Species Revisited: A Program Code Classification Based on Array References" location = "MuCoCoS '13, Edinburgh, UK" date = "September 7, 2013" pdf = "downloads/handouts2013b.pdf" link = "http://www.ida.liu.se/conferences/mucocos2013/program.shtml" poster = "no" variable-param=page.variable %}
{% include talk.html name = "Automatic Skeleton-Based Compilation through Integration with an Algorithm Classification" location = "APPT '13, Stockholm, Sweden" date = "August 28, 2013" pdf = "downloads/handouts2013a.pdf" link = "http://appt2013.tcarch.org/about.asp?bid=9&id=70" poster = "no" variable-param=page.variable %}

<h1>Recent posters</h1>

{% include talk.html name = "Auto-Tuning OpenCL Matrix-Multiplication: K40 versus K80" location = "GTC '15, San Jose, CA" date = "March 16, 2015" pdf = "downloads/poster2015.pdf" link = "http://registration.gputechconf.com/quicklink/cQ2Ecjo" poster = "yes" variable-param=page.variable %}

