<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

			<div id="page">
				{{ content }}
			</div>

			<div id="header">
				<span class="header_left">
					<ul id="menu">
						{% if current == "0" %}
							<li id="menu_current1"><a href="/index.html">About</a></li>
						{% else %}
							<li id="menu_button1"><a href="/index.html">About</a></li>
						{% endif %}

						{% if current == "1" %}
							<li id="menu_current1"><a href="/publications.html">Publications</a></li>
						{% else %}
							<li id="menu_button1"><a href="/publications.html">Publications</a></li>
						{% endif %}

						{% if current == "2" %}
							<li id="menu_current1"><a href="/talks.html">Talks</a></li>
						{% else %}
							<li id="menu_button1"><a href="/talks.html">Talks</a></li>
						{% endif %}

						{% if current == "3" %}
							<li id="menu_current1"><a href="/projects.html">Projects</a></li>
						{% else %}
							<li id="menu_button1"><a href="/projects.html">Projects</a></li>
						{% endif %}

						{% if current == "4" %}
							<li id="menu_current1"><a href="/blog/">Blog</a></li>
						{% else %}
							<li id="menu_button1"><a href="/blog/">Blog</a></li>
						{% endif %}

						{% if current == "5" %}
							<li id="menu_current2"><a href="/tutorial.html">CL SGEMM</br>tutorial</a></li>
						{% else %}
							<li id="menu_button2"><a href="/tutorial.html">CL SGEMM</br>tutorial</a></li>
						{% endif %}
					</ul>
				</span>
				<span class="header_right">
					www.cedricnugteren.nl
				</span>
			</div>

			<div id="picture">
				<img class="leftimage" src="images/picture.jpg" alt="profile_picture" />
			</div>
			<div id="box">
				<div id="box_title">Current job:</div>
				Performance engineer</br>
				</br>
				<div id="box_title">Current location:</div>
				Amsterdam, NL</br>
				</br>
				<div id="box_title">Contact:</div>
				www.cedricnugteren.nl</br>
				</a>&#x200E;
				</br>
				<div id="box_title">Year of birth:</div>
				1986</br>
				</br>
				<div id="box_title">Nationality:</div>
				Dutch</br>
				</br>
			</div>

			<div id="footer">
			</div>

		</body>
	</html>
