<!DOCTYPE html>
	{% if page.current == 4 %}
	<html id="clblast">
	{% else %}
	<html id="normal">
	{% endif %}
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript">
				function gen_mail_to_link(lhs, rhs, subject) {
					document.write("<a href=\"mailto");
					document.write(":" + lhs + "@");
					document.write(rhs + "?subject=" + subject + "\">" + lhs + "@" + rhs + "<\/a>");
				}
			</script>
			{% if page.current == 5 %}
				<link href="/google-code-prettify/src/prettify.css" type="text/css" rel="stylesheet" />
				<script type="text/javascript" src="/google-code-prettify/src/prettify.js"></script>
				<script type="text/javascript" src="/google-code-prettify/src/lang-cuda.js"></script>
				<body onload="prettyPrint()">
			{% endif %}
		</head>

		{% if page.current == 4 %}
		<body id="clblast">
		{% else %}
		<body id="normal">
		{% endif %}

			<div id="page">

				{% if page.current == 5 %}
					<div id="blogheader">
						<h1>Tutorial: OpenCL SGEMM tuning for Kepler</h1>
						<i>Note: the complete source-code is available at <a href="http://github.com/cnugteren/myGEMM">GitHub</a>.</i>
						<br/>
						<i>Note: a tuned OpenCL BLAS library based on this tutorial is now available at <a href="http://github.com/cnugteren/CLBlast">GitHub</a>.</i>
						<br/><br/>
						{% if page.tutorial_page != 1 %}
							<div id="leftbutton"><a href="/tutorial/pages/page{{ page.tutorial_page | plus:-1 }}.html">&lt;- previous</a></div>
						{% endif %}
						{% if page.tutorial_page != 15 %}
							<div id="rightbutton"><a href="/tutorial/pages/page{{ page.tutorial_page | plus:1 }}.html">next -&gt;</a></div>
						{% endif %}
					</div>
				{% endif %}

				{% if page.clblast_page %}

					<h1>CLBlast: Benchmarks</h1>

					<div class="text">
						This page contains a collection of performance results for a particular device. See the navigation menu for results of other devices. All results are obtained using the CLBlast clients and the included benchmark scripts.
						<br/><br/>
						View <a href=https://github.com/CNugteren/CLBlast>CLBlast on GitHub</a>.
						<br/><br/>
						Back to the <a href="/clblast/clblast.html">main CLBlast page</a>.
					</div>

				{% endif %}

				{{ content }}

				{% if page.current == 5 %}
					<div id="blogfooter">
						{% if page.tutorial_page != 1 %}
							<div id="leftbutton"><a href="/tutorial/pages/page{{ page.tutorial_page | plus:-1 }}.html">&lt;- previous</a></div>
						{% endif %}
						{% if page.tutorial_page != 15 %}
							<div id="rightbutton"><a href="/tutorial/pages/page{{ page.tutorial_page | plus:1 }}.html">next -&gt;</a></div>
						{% endif %}
						<br/><br/>
						<i>Tutorial written by Cedric Nugteren, (c) 2014 SURFsara</i>
						<br/>
						<i>Last updated in 2014 - information might be outdated</i>
					</div>
				{% endif %}

			</div>

			<div id="header">
				<span class="header_left">
					<ul id="menu">
						{% if page.current == 0 %}
							<li id="menu_current1"><a href="/index.html">About</a></li>
						{% else %}
							<li id="menu_button1"><a href="/index.html">About</a></li>
						{% endif %}

						{% if page.current == 1 %}
							<li id="menu_current1"><a href="/publications.html">Publications</a></li>
						{% else %}
							<li id="menu_button1"><a href="/publications.html">Publications</a></li>
						{% endif %}

						{% if page.current == 2 %}
							<li id="menu_current1"><a href="/talks.html">Talks</a></li>
						{% else %}
							<li id="menu_button1"><a href="/talks.html">Talks</a></li>
						{% endif %}

						{% if page.current == 3 %}
							<li id="menu_current1"><a href="/projects.html">Projects</a></li>
						{% else %}
							<li id="menu_button1"><a href="/projects.html">Projects</a></li>
						{% endif %}

						{% if page.current == 4 %}
							<li id="menu_current1"><a href="/clblast/clblast.html">CLBlast</a></li>
						{% else %}
							<li id="menu_button1"><a href="/clblast/clblast.html">CLBlast</a></li>
						{% endif %}

						{% if page.current == 5 %}
							<li id="menu_current2"><a href="/tutorial/pages/page1.html">CL SGEMM</br>tutorial</a></li>
						{% else %}
							<li id="menu_button2"><a href="/tutorial/pages/page1.html">CL SGEMM</br>tutorial</a></li>
						{% endif %}
					</ul>
				</span>
				<span class="header_right">
					cnugteren.github.io
				</span>
			</div>

			<div id="picture">
				{% if page.current == 5 %}
					<img class="leftimage" src="/tutorial/images/tutorial.png" alt="tutorial_picture" />
				{% elsif page.current == 4 %}
					<img class="leftimage" src="/clblast/images/clblast.png" alt="clblast_picture" />
				{% else %}
					<img class="leftimage" src="images/picture.jpg" alt="profile_picture" />
				{% endif %}
			</div>

			<div id="box">
				{% if page.current == 5 %}
					<div id="box_title">Navigation:</div>
					{% if page.tutorial_page != 1 %}<a href='/tutorial/pages/page1.html'>- Introduction</a>{% else %}- Introduction{% endif %}<br/>
					{% if page.tutorial_page != 2 %}<a href='/tutorial/pages/page2.html'>- Matrix-multiplication</a>{% else %}- Matrix-multiplication{% endif %}<br/>
					{% if page.tutorial_page != 3 %}<a href='/tutorial/pages/page3.html'>- Kernel 1</a>{% else %}- Kernel 1{% endif %}<br/>
					{% if page.tutorial_page != 4 %}<a href='/tutorial/pages/page4.html'>- Kernel 2</a>{% else %}- Kernel 2{% endif %}<br/>
					{% if page.tutorial_page != 5 %}<a href='/tutorial/pages/page5.html'>- Kernel 3</a>{% else %}- Kernel 3{% endif %}<br/>
					{% if page.tutorial_page != 6 %}<a href='/tutorial/pages/page6.html'>- Kernel 4</a>{% else %}- Kernel 4{% endif %}<br/>
					{% if page.tutorial_page != 7 %}<a href='/tutorial/pages/page7.html'>- Kernel 5</a>{% else %}- Kernel 5{% endif %}<br/>
					{% if page.tutorial_page != 8 %}<a href='/tutorial/pages/page8.html'>- Kernel 6</a>{% else %}- Kernel 6{% endif %}<br/>
					{% if page.tutorial_page != 9 %}<a href='/tutorial/pages/page9.html'>- Kernel 7</a>{% else %}- Kernel 7{% endif %}<br/>
					{% if page.tutorial_page != 10 %}<a href='/tutorial/pages/page10.html'>- Kernel 8</a>{% else %}- Kernel 8{% endif %}<br/>
					{% if page.tutorial_page != 11 %}<a href='/tutorial/pages/page11.html'>- Kernel 9</a>{% else %}- Kernel 9{% endif %}<br/>
					{% if page.tutorial_page != 12 %}<a href='/tutorial/pages/page12.html'>- Kernel 10</a>{% else %}- Kernel 10{% endif %}<br/>
					{% if page.tutorial_page != 13 %}<a href='/tutorial/pages/page13.html'>- What's next?</a>{% else %}- What's next?{% endif %}<br/>
					</br>
					<div id="box_title">Extra pages:</div>
					{% if page.tutorial_page != 14 %}<a href='/tutorial/pages/page14.html'>- Inside clBlas</a>{% else %}- Inside clBlas{% endif %}<br/>
					{% if page.tutorial_page != 15 %}<a href='/tutorial/pages/page15.html'>- clBlas on AMD GPUs</a>{% else %}- clBlas on AMD GPUs{% endif %}<br/>
					</br>
				{% elsif page.current == 4 %}
					<div id="box_title">CLBlast links:</div>
					<a href=https://github.com/CNugteren/CLBlast>GitHub</a><br/>
					<br/>
					<div id="box_title">Navigation:</div>
					{% if page.clblast_page %}<a href='/clblast/clblast.html'>- Main page</a>{% else %}- Main page{% endif %}<br/>
					{% if page.clblast_page != 1 %}<a href='/clblast/results/gtx750ti.html'>- GeForce GTX750Ti</a>{% else %}- GeForce GTX750Ti{% endif %}<br/>
					{% if page.clblast_page != 2 %}<a href='/clblast/results/titanxpascal.html'>- Titan X (Pascal)</a>{% else %}- Titan X (Pascal){% endif %}<br/>
					{% if page.clblast_page != 3 %}<a href='/clblast/results/m370x.html'>- Radeon M370X</a>{% else %}- Radeon M370X{% endif %}<br/>
					{% if page.clblast_page != 4 %}<a href='/clblast/results/irispro.html'>- Iris Pro 5100</a>{% else %}- Iris Pro 5100{% endif %}<br/>
					{% if page.clblast_page != 5 %}<a href='/clblast/results/skylakeultgt2.html'>- Skylake ULT GT2</a>{% else %}- Skylake ULT GT2{% endif %}<br/>
					{% if page.clblast_page != 6 %}<a href='/clblast/results/i56200u.html'>- Core i5-6200U</a>{% else %}- Core i5-6200U{% endif %}<br/>
					<br/>
				{% else %}
					<div id="box_title">Current job:</div>
					Performance engineer</br>
					</br>
					<div id="box_title">Current location:</div>
					Amsterdam, NL</br>
					</br>
					<div id="box_title">Year of birth:</div>
					1986</br>
					</br>
					<div id="box_title">Nationality:</div>
					Dutch</br>
					</br>
				{% endif %}
				<div id="box_title">Contact:</div>
				www.cedricnugteren.nl</br>
				<script type="text/javascript"> 
					gen_mail_to_link("web", "cedricnugteren.nl", "");
				</script>
				<noscript>
					Email address protected by JavaScript - activate JavaScript to see it
				</noscript>
			</div>

			<div id="footer">
			</div>

		</body>
	</html>
